.header {
    max-width: 1184px;
    margin: 28px 48px 0 48px;
    display: grid;
    grid-template-columns: 176px 1fr 30px;
    justify-items: end;
    align-items: end;
    column-gap: 18px;
}

@media screen and (max-width: 1020px) {
    .header {
        margin: 28px 24px 48px 24px;
    }
}

@media screen and (max-width: 762px) {
    .header {
        grid-template-columns: 142px 1fr 22px;
        margin: 16px 16px 48px;
    }
}