.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1124px) {
    .footer {
        max-width: 928px;
    }   
}

@media screen and (max-width: 1020px) {
    .footer {
        max-width: 720px; 
    }   
}

@media screen and (max-width: 762px) {
    .footer {
        max-width: 186px;
        margin-left: 16px;
        flex-direction: column;
    }   
}